.bodyindex{
    background-image: url("../imagenes/corte-router-cnc.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bodyqs{
    @extend .bodyindex;
    background-image: url("../imagenes/carpinteria3jpg.jpg");
}

.bodychildwood{
    @extend .bodyindex;
    background-image: url("../imagenes/conejitos.jpg");
}