.clicaqui h2 {
    display: inline-block;          
    padding: 20px 40px;             
    border-radius: 50px;            
    background-color: #ffffff;      
    color: #000000;                 
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;                
    transition: background-color 0.3s, color 0.3s; 
}
.clicaqui h2:hover {
    background-color: #000000;
    color: #ffffff;
}
.clicaqui{
    padding: 3rem;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7)
}