.logo {
  width: 20%;
  border-radius: 50px;

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 30%;
  }

  /* Celular */
  @media (max-width: 767px) {
    width: 40%;
  }
}