@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
}

.bodyindex, .bodymadera, .bodychildwood, .bodyqs {
  background-image: url("../imagenes/corte-router-cnc.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bodyqs {
  background-image: url("../imagenes/carpinteria3jpg.jpg");
}

.bodychildwood {
  background-image: url("../imagenes/conejitos.jpg");
}

.bodymadera {
  background-image: url("../imagenes/raiz.jpg");
}

.logo {
  width: 20%;
  border-radius: 50px;
}

.encabezado {
  padding: 1rem;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.navbar {
  background: transparent !important;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 0;
  padding-top: 1rem;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

footer img {
  width: 5%;
  margin-top: auto;
  border-radius: 50%;
}

.logowp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 8%;
}

.clicaqui h2 {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.clicaqui h2:hover {
  background-color: #000000;
  color: #ffffff;
}

.clicaqui {
  padding: 3rem;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

body {
  font-family: "Commissioner", sans-serif;
}

.principal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.principal h1 {
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  color: white;
}

.cotizar {
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}
.cotizar h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.card-group {
  margin-bottom: 0;
}

body {
  font-family: "Commissioner", sans-serif;
}

.principal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.principal h1 {
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  color: white;
}

.cotizar {
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}
.cotizar h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.tiposmadera {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  justify-items: center;
}
.tiposmadera img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.tiposmadera img:hover {
  transform: scale(1.05);
}

.principal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.principal h1 {
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  color: white;
}

.cuerpo {
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}
.cuerpo h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #000000;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.tiposmadera {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  justify-items: center;
}
.tiposmadera img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.tiposmadera img:hover {
  transform: scale(1.05);
}

.cuerpoqs h1 {
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.cuerpoqs p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #000000;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.cuerpoqs .dani {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.childwood h1 {
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  color: rgb(58, 58, 65);
}

.childwood p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #000000;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.clicaqui {
  padding: 3rem;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.carousel-inner img {
  width: 60%;
  object-fit: contain;
}

.card-group {
  margin-bottom: 0;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.logo {
  width: 20%;
  border-radius: 50px;
  /* Tablet */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 30%;
  }
}
.logo {
  /* Celular */
}
@media (max-width: 767px) {
  .logo {
    width: 40%;
  }
}

/*# sourceMappingURL=estilos.css.map */
