@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
* {/*EXTEND*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------MAQUETADO DEL INDEX-------------------------------*/

    /*HEADER*/

body{/*EXTEND*/
    font-family: "Commissioner", sans-serif;
}
    /*MAIN*/

/*.clicaqui {/*EXTEND*/
    /*text-align: center;
    /*margin: 30px auto;*/



/*-------------------------------MAQUETADO DE QUIENES SOMOS-------------------------------*/

    /*HEADER*/

    /*MAIN*/

/*-------------------------------MAQUETADO DE CHILDWOOD-------------------------------*/

    /*HEADER*/

    /*MAIN*/

    

