//VARIABLES-----------
@use "../generales/fontYmargenes" as*;
@use "../generales/backgroundimg" as*;
@use "../generales/headerfooter" as*;
@use "../generales/hover" as*;
@use "../generales/variables" as*;
@use "../generales/mediaQ" as*;
//------------------MAIN INDEX-------------------
.principal {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blanco;
    text-shadow: 2px 2px 8px $negrosombra;

    h1{
        font-weight: bold;
        font-size: 3.2rem;
        text-align: center;
        color: $blanco;
    }
}
.cotizar {
  text-align: center;
  margin-bottom: 0;
  padding: 0;

    h2 {
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
        text-align: center;
        color: $blanco;
        text-shadow: 2px 2px 8px $negrosombra;
    }
}


