//VARIABLES-----------
@use "../generales/fontYmargenes" as*;
@use "../generales/backgroundimg" as*;
@use "../generales/headerfooter" as*;
@use "../generales/hover" as*;
@use "../generales/variables" as*;
@use "../generales/mediaQ" as*;

.principal {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);

    h1{
        font-weight: bold;
        font-size: 3.2rem;
        text-align: center;
        color: white;
    }
}
.cuerpo {
  text-align: center;
  margin-bottom: 0;
  padding: 0;

  h2 {
        font-weight: bold;
        font-size: 1.3rem;
        margin: 0;
        padding: 1rem 0; // espacio arriba y abajo
        width: 100%;     // ocupa todo el ancho
        text-align: center;
        color: white;
        background-color: #000000; 
        text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    }
}


