//VARIABLES-----------
@use "../generales/fontYmargenes" as*;
@use "../generales/backgroundimg" as*;
@use "../generales/headerfooter" as*;
@use "../generales/variables" as*;

.cuerpoqs{
    h1{
        font-weight: bold;
        font-size: 3.5rem;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.7)
    }
        p{
            font-size: 1.5rem;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
            margin-bottom: 0;
            padding: 1rem 0; // espacio arriba y abajo
            width: 100%;     // ocupa todo el ancho
            text-align: center;
            color: white;
            background-color: #000000; 
            text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
        }

            .dani {
                display: block;
                margin: 0 auto;
                width: 60%;
            }
}


